.header {
  grid-area: h;
  background-blend-mode: screen;
	background:
		linear-gradient(limegreen, transparent),
		linear-gradient(90deg, skyblue, transparent),
		linear-gradient(-90deg, coral, transparent);
}

.header img {
  width: 35px;
  margin: 10px 10px 10px 10px;
}