.nav {
  grid-area: n;
  background-color: burlywood;
  padding: 30px;

}
.item a {
	color:white;
  text-decoration: none;
  display: flex; justify-content: ;

}
.item a.active {
	color:gold;
  padding:5px;
}